<%- include('header') -%>
    <div class='box' id='heading'>
    <h1 script='color:orange'><%= ListTitle %></h1>
    </div>
    <div class='box'>
            <% for(var  i=0;i<newitems.length;i++) { %>
             <div class='item'>
             <input type='checkbox'>
             <p><%=newitems[i]%></p>
            </div>
          <%  } %>
          <form class='item'action='/' method='POST'>
            <input type='text' name='inp' placeholder='New Item' autocomplete="off">
            <button type='submit' name='btn' value='<%= ListTitle %>'>+</button>
            <!-- we have make value of btn dynamic to diff betw home & work route -->
        </form>
    </div>
    <%- include('footer'); -%>